<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Strava-->
		<add key="StravaEmail" value="" />
		<add key="StravaPassword" value="" />

		<!--Garmin-->
		<add key="GarminUsername" value="" />
		<add key="GarminPassword" value="" />

		<add key="StravaActivityId" value=""/>
		<add key="StravaActivityDatetime" value=""/>
	</appSettings>
</configuration>